.custom-html-block {
    padding: 10px;
    margin: 10px 0;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    text-align: center;
  }
  

 .customBlock {
    display: block;
    margin-top: 10px;
    margin-bottom: 20px;
    max-width: 100%;
  }

  .titleBlock {
    width: 100%;
    background-color: #fff;
    margin-bottom:10px;
    font-size: 2em;
  }
  .textBlock {
    font-weight: 900;
    text-align: center;
    padding: 10px;
    border: 10px solid black;
  }
  

  .hidden {
    display: none;
  }